* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}

.header {
    height: 70px;
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
}

.logo {

}

.add-task {

}

.main {
    height: 90vh;
}

.welcome-wrapper {
    padding: 4%;
}

.calendar-wrapper {
    margin-top: 10%;
    padding: 4%;
}

.my-name {
    color: rgb(48, 58, 99);
}

.select-date {
    font-size: 1.3rem;
}

form {
    margin-top: 5%;
}

label {
    
}

input {
    width: 30px;
    height: 30px;
}

.footer {
    display: block;
    text-align: center;
}

footer p {
    font-size: 1.1rem;
}

@media screen and (min-width: 600px) {
    header {
        background-color: aqua;
    }

    main {
        display: flex;
    }
    form {
        width: 500px;
    }
}

/*.body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo, nav {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration-color: black;
}

nav a:visited {
    color: black;
}

header, main, section, footer {
    padding: 4%;
}

h1 {
    font-size: 4rem;
    color: rgb(63, 63, 135);
}

h2 {
    font-size: 3rem; 
    color: rgb(26, 26, 86);
    font-weight: bold;
    padding-bottom: 10%;
}

.text-box {
    width: 305px;
    border: none;
    padding: 4%;
    background-color: rgb(26, 26, 86);
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
}

.text-box::placeholder {
    color:darkgrey;
    border-color: aqua;
}

section p {
    font-size: 0.7rem; 
    padding-top: 10%;
    padding-bottom: 5%;
}

.calendar-wrapper {
    width: 85vw;
    height: 55vw;
    background-color: rgb(198, 223, 246);
    margin: 0 auto;
    border-radius: 12px;
}

.dates {
   display: flex;
   flex-wrap: wrap;
}

.dates li {
    padding: 3%;
}

.btn {
    width: 70px;
    height: 20px;
}

footer {
    text-align: center;
    margin-top: 5%;
}

footer p {
    font-size: 0.6rem;
}

@media only screen and (min-width: 600px) {
    .main {
        display: flex;
    }
    .dates li {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 900px) {
   
    .header {
        padding-top:1%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 0%;
    } 
    
    .main {
        display: flex;
    }

    section p {
        font-size: 1.1rem;
    }

    .calendar-wrapper {
        height: auto;
    }

    .dates li {
        font-size: 2rem;
    }

    footer p {
        font-size: 1rem;
    }
}


